/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes make-larger {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

@keyframes make-sparkly {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* setup */

.main-body,
.core {
  fill: transparent;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s linear 0.3s;
}

/* hover */

.card__icon-button:hover .main-body {
  fill: var(--main-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:hover .core {
  fill: var(--main-color);
  transition: fill 0.3s linear;
}

.card__icon-button:not(:hover) .core {
  transition: fill 0.3s linear 0.03s;
}

/* active */

.card__icon-button:active .core {
  fill: var(--like-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--like-color);
  transition: fill 0.3s linear 0.05s;
}

/* focus */

.card__icon-button,
.button:focus {
  outline: none;
}

.card__icon-button {
  transition: outline 0.3s ease;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-color);
  outline-offset: -2px;
}

/* like on click animation */

.card__icon-button:has(.is-liked) .core {
  fill: var(--like-color);
  transition: fill 0.3s linear;
}

.card__icon-button:has(.is-liked) .main-body {
  fill: var(--like-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:has(.is-liked) .contour {
  fill: var(--like-color);
  transition: fill 0.3s linear 0.06s;
}

.card__icon-button:has(.is-liked) {
  animation: make-larger 0.3s ease-in 0.1s;
}

.card__icon-button:has(.is-liked) .sparks {
  animation: make-sparkly 0.3s ease-in 0.3s;
}




